body {
  margin: 0;
  padding: 0;
}

.randomizer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.randomizer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.randomizer-result {
  font-family: 'Roboto', sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.button-randomizer-start {
  position: relative;
  z-index: 0;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 0;
  padding: 19px 26px;
  width: auto;
  min-height: 64px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  color: #fff;
  outline: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  pointer-events: auto;
  user-select: none;
  appearance: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: keep-all;
  overflow: visible;
  cursor: pointer;
}

@media (min-width: 768px) {
  .button-randomizer-start {
    padding: 19px 32px;
  }
}

.button-randomizer-start:before,
.button-randomizer-start:after {
  border-radius: 80px;
}

.button-randomizer-start:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(249, 58, 19, .32);
  overflow: hidden;
}

.button-randomizer-start:after {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  z-index: -1;
  content: "";
  display: block;
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  overflow: hidden;
  transition: all 100ms ease-out;
}

.button-randomizer-start:hover:not(:disabled):after {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition-timing-function: ease-in;
}

.button-randomizer-start:active:not(:disabled) {
  color: #ccc;
}

.button-randomizer-start:active:not(:disabled):after {
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button-randomizer-start:disabled {
  cursor: default;
  opacity: .24;
}
